*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    /* display: block; */
    margin: auto;
    height: 100%;
    object-fit: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    box-shadow: 0px 2px 4px rgb(0 0 0/ 15%);
    overflow: hidden;
    position: relative;
}
.card h2{
    color: #464646;
    font-size: 25px;
}

.card-image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.card-content{
    padding: 20px;
    position: relative;
    z-index: 4;
    background-color: #fff;
}

.card-content p:nth-child(3){
    color:#757575;
    padding-top: 20px;
    font-size: 20px;
}

.card-content p:nth-child(2){
    color: tomato;
    font-size: 15px;
    padding-top: 10px;
}

.card-content p:nth-child(3){
    color:#757575;
    font-size: 15px;
}



.card-footer{
    color: #757575;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 5;
}

.card-footer span, .card-footer p{
    display: inline;
}

.card-footer span i:nth-child(2){
    padding-left: 10px;
}

.card:hover .card-image img{
    transition: all 0.5s;
    transform: scale(1.2);
}

.card-image::before{
    content: "";
    background-color: #000;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;

}

.card:hover .card-image::before{
    opacity: 0.4;
    display: block;
}

.card:hover .card-content{
    transition: all 0.5s;
    transform: translateY(-75px);
}

.photos {
    background-color: tomato; 
    width: 25%;
    padding: 10px; 
    position: absolute;
    left: 0;
    top: -20%;
    color: #fff;
    font-size: 15px;
}

.date{
    background-color: tomato;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    z-index: 6;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    color: #fff;
    font-weight:400;
    padding-top: 10px;
}

.date p:nth-child(1){
    font-size: 20px;
}

.date p:nth-child(2){
    font-size: 12px;
}

