div.footer {
    background-color: #464646;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #fff;
    font-size: 18px;
}

div.footer {
    color: #919294;
    text-align: center;
}

p {
    font-size: 14px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #919294;
}



