:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100: #fff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    /* --text-black-900:#fff */
    --text-black-700: #504e70;
    --skin-color: #ec1839;
    --bg-color-layer1: #C6E5DF;
    --bg-color-layer2: #EF8295

}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    margin: auto;
    height: 100%;
    object-fit: cover;
}

::before, ::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}


.container{
    max-width: 1100px;
    width: 100%;
    height: 100vh;
    margin: auto;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aside */
.aside{
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-family: 40px;
}

.aside .logo a::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
}

.aside .navigation{
    margin-top: 50px;

}

.aside .navigation li{
    margin-bottom: 20px;
    display: block;
}

.aside .navigation li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--sk);
    padding: 5px 15px;
    border-bottom: 1px solid var(--text-black-50);
}

.aside .navigation li a i{
    margin-right: 15px;
}

.aside .navigation li a:hover{
    color: var(--skin-color);
}


/* Home */
.home .home-img img{
    height: 400px;
}

.home .layer1{
    width: 800px;
    height: 600px;
    background-color: var(--bg-color-layer1);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.home .layer2{
    width: 500px;
    height: 500px;
    background-color: var(--bg-color-layer2);
    position: absolute;
    z-index: 2;
}

.home .home-img{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 3;
}

.hello{
    position: absolute;
    top:200px;
    left: 350px;
    z-index: 4;
    font-size: 85px;
    flex-wrap: wrap;
    width: 100px;
    color: var(--text-black-700);
    font-weight: bolder;
    
}


.my-profession{
    
        position: absolute;
        top:500px;
        left: 1000px;
        z-index: 4;
        font-size: 85px;
        flex-wrap: wrap;
        width: 100px;
        color: var(--text-black-700);
        font-weight: bolder;
        
    
    
}